{{#extend 'styles'}}

{{/extend}}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Registrar mi Empresa </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin">Inicio</a></li>
              <li class="breadcrumb-item active">Registrar Empresa</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-10 mx-auto">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Llenar Formulario</h3>
              </div>
              <!-- /.card-header --> 

            <form class="" id="form-business-ruc" method="POST">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group mb-2 col-md-2">
                    <label for="ruc">Ingresar RUC</label>
                  </div>
                  <div class="form-group mb-2 col-md-6">
                    <label for="ruc" class="sr-only">RUC</label>
                    <input type="text" class="form-control" id="ruc" placeholder="RUC" name="ruc">
                  </div>
                  <button type="submit" class="btn btn-primary mb-2 col-md-4">Validar</button>
                </div>
              </div>
            </form>
              
              <!-- form start -->
              <form role="form" id="form-business-create" method="POST"> 
                  <div class="card-body">
                      <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="razon-social">Razon Social</label>
                              <input type="text" class="form-control" id="razon-social" name="razonSocial" disabled>
                          </div>
                          <div class="form-group col-md-6">
                              <label for="nombre-comercial">Nombre Comercial</label>
                              <input type="text" class="form-control" id="nombre-comercial" name="nombreComercial" disabled>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="direccion">Dirección</label>
                          <input type="text" class="form-control" id="direccion" placeholder="1234 Main St" name="direccion" disabled>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="estado">Estado</label>
                              <input type="text" class="form-control" id="estado" name="estado" disabled>
                          </div>
                          <div class="form-group col-md-6">
                              <label for="tipo">Tipo</label>
                              <input type="text" class="form-control" id="tipo" name="tipo" disabled>
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-4">
                              <label for="departamento">Departamento</label>
                              <input type="text" class="form-control" id="departamento" name="departamento" disabled>
                          </div>
                          <div class="form-group col-md-4">
                              <label for="provincia">Provincia</label>
                              <input type="text" class="form-control" id="provincia" name="provincia" disabled>
                          </div>
                            <div class="form-group col-md-4">
                              <label for="distrito">Distrito</label>
                              <input type="text" class="form-control" id="distrito" name="distrito" disabled>
                          </div>
                      </div>
                      <label for="inputState" class="w-100">Redes</label>

                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="fas fa-envelope"></i>
                              </span>
                          </div>
                          <input type="url" class="form-control" placeholder="Facebbok" name="facebook"/>
                      </div>

                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="fas fa-envelope"></i>
                              </span>
                          </div>
                          <input type="url" class="form-control" placeholder="Website" name="web"/>
                      </div>

                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="fas fa-envelope"></i>
                              </span>
                          </div>
                          <input type="url" class="form-control" placeholder="Otra red" name="red"/>
                      </div>
                  </div>
                  <div class="card-footer text-right">
                      <button type="submit" class="btn btn-primary">Registrar</button>
                  </div>
                  
              </form>
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (left) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{{#extend 'scripts'}}

{{/extend}}