	<!--================Header Menu Area =================-->
	<header class="header_area">
		<div class="top_menu row m0">
			<div class="container-fluid">
				<div class="float-left">
					{{#if Session}}
						<p>Usuario: {{name}}</p>
					{{else}}
						<p>LLÁMANOS: 926 594 773</p>
					{{/if}}
				</div>
				<div class="float-right">
					<ul class="right_side">

						{{#if Session}}
						<li>
							<a href="/account">
								MI cuenta
							</a>
						</li>
						<li>
							<a href="#" id="logout-cliente">
								Cerrar Sesión
							</a>
						</li>
						{{else}}
						<li>
							<a href="/registrer">
								Registrate
							</a>
						</li>
						<li>
							<a href="#">
								Empresas
							</a>
						</li>
						{{/if}}

					</ul>
				</div>
			</div>
		</div>
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" {{#if Session}}href="/business" {{/if}} href="/login">
						<img src="/users/img/favicon.png" alt=""><span class="title-page">Pixie</span>
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					 aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<div class="row w-100">
							<div class="col-lg-7 pr-0">
								{{!-- <ul class="nav navbar-nav center_nav pull-right">
									<li class="nav-item active">
										<a class="nav-link" href="index.html">Inicio</a>
									</li>
									<li class="nav-item submenu dropdown">
										<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tienda</a>
										<ul class="dropdown-menu">
											<li class="nav-item">
												<a class="nav-link" href="category.html">Shop Category</a>
												<li class="nav-item">
													<a class="nav-link" href="single-product.html">Product Details</a>
													<li class="nav-item">
														<a class="nav-link" href="checkout.html">Product Checkout</a>
														<li class="nav-item">
															<a class="nav-link" href="cart.html">Shopping Cart</a>
														</li>
														<li class="nav-item">
															<a class="nav-link" href="confirmation.html">Confirmation</a>
														</li>
										</ul>
										</li>
										<li class="nav-item submenu dropdown">
											<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a class="nav-link" href="blog.html">Blog</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="single-blog.html">Blog Details</a>
												</li>
											</ul>
										</li>
										<li class="nav-item submenu dropdown">
											<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a class="nav-link" href="login.html">Login</a>
													<li class="nav-item">
														<a class="nav-link" href="tracking.html">Tracking</a>
														<li class="nav-item">
															<a class="nav-link" href="elements.html">Elements</a>
														</li>
											</ul>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="contact.html">Contact</a>
											</li>
								</ul> --}}
							</div>

							<div class="col-lg-5">
								<ul class="nav navbar-nav navbar-right right_nav pull-right">
									{{!-- <hr>
									<li class="nav-item">
										<a href="#" class="icons">
											<i class="fa fa-search" aria-hidden="true"></i>
										</a>
									</li>

									<hr> --}}
									{{#if Session}}
										<hr>
										
										<li class="nav-item">
											<a href="/account" class="icons">
												<i class="fa fa-user" aria-hidden="true"></i>
											</a>
										</li>

										<hr>

										<li class="nav-item">
											<a href="/business" class="icons">
												<i class="fa fa-search" aria-hidden="true"></i>
											</a>
										</li>
										<hr>
									{{else}}
										<hr>
										
										<li class="nav-item">
											<a href="/registrer" class="icons">
												<i class="fa fa-user" aria-hidden="true"></i>
											</a>
										</li>

										<hr>
									{{/if}}


									{{!-- <li class="nav-item">
										<a href="#" class="icons">
											<i class="fas fa-heart"></i>
										</a>
									</li>

									<hr>

									<li class="nav-item">
										<a href="#" class="icons">
											<i class="lnr lnr lnr-cart"></i>
										</a>
									</li>

									<hr> --}}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================Header Menu Area =================-->