{{#extend 'styles'}}
    <link rel="stylesheet" href="/css/error.css">
{{/extend}}
<div class="container">
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h3>Oops! Página no encontrada</h3>
				<h1><span>4</span><span>0</span><span>4</span></h1>
			</div>
			<h2>Lo sentimos, pero no se encontró la página que solicito</h2>
            <a href="/admin" class="btn btn-primary">Volver a Dashboard</a>
		</div>
	</div>
</div>

{{#extend 'scripts'}}

{{/extend}}