.container-preview-img {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-preview {
    max-height: 100%;
    max-width: 100%;
    display: none;
}

.img-not-icon{
    font-size: 5em;
}

.custom::after{
    display: none;
}

.container-premio{
    display: flex;
    justify-content:center;
    align-items: center;
}

.close-container{
    right: 18px;
    position: absolute;
    font-size: 2.5rem;
}
.close-container:focus,
.close-container:active{
    outline: none;
}
.close{
    outline: none !important;
}

.invalid-feedback{
    position: absolute;
    bottom: -20px;
}
.progress-file{
    width: 100%;
    height: 30px;
}

.csv-icon,
.fila{
    display: flex;
    align-items: center;
    justify-content: center;
}

.csv-icon i{
    font-size: 2rem;
}


.section-padding{
    padding-top: 160px !important;
}

.select-category{
    color: #1641ff !important;
}

.title-business{
    display: flex;
    align-items: center;
    margin: 0;
}

