	<!--================Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="overlay"></div>
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content row">
					<div class="offset-lg-2 col-lg-8">
						<h3>Fashion for
							<br />Upcoming Winter</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
						<a class="white_bg_btn" href="#">View Collection</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================Hot Deals Area =================-->
	<section class="hot_deals_area section_gap">
		<div class="container-fluid">
			<div class="row">
				{{!-- <div class="col-lg-6" style="padding: 15px;">
					<div class="hot_deal_box">
						<img class="img-fluid" src="/users/img/product/hot_deals/deal1.jpg" alt="">
						<div class="content">
							<h2>Hot Deals of this Month</h2>
							<p>shop now</p>
						</div>
						<a class="hot_deal_link" href="#"></a>
					</div>
				</div>

				<div class="col-lg-6" style="padding: 15px;">
					<div class="hot_deal_box">
						<img class="img-fluid" src="/users/img/product/hot_deals/deal1.jpg" alt="">
						<div class="content">
							<h2>Hot Deals of this Month</h2>
							<p>shop now</p>
						</div>
						<a class="hot_deal_link" href="#"></a>
					</div>
				</div>

				<div class="col-lg-6" style="padding: 15px;">
					<div class="hot_deal_box">
						<img class="img-fluid" src="/users/img/product/hot_deals/deal1.jpg" alt="">
						<div class="content">
							<h2>Hot Deals of this Month</h2>
							<p>shop now</p>
						</div>
						<a class="hot_deal_link" href="#"></a>
					</div>
				</div>

				<div class="col-lg-6" style="padding: 15px;">
					<div class="hot_deal_box">
						<img class="img-fluid" src="/users/img/product/hot_deals/deal1.jpg" alt="">
						<div class="content">
							<h2>Hot Deals of this Month</h2>
							<p>shop now</p>
						</div>
						<a class="hot_deal_link" href="#"></a>
					</div>
				</div> --}}
				{{#if empresas.length}}
					{{#each empresas}}
						<div class="col-lg-6" style="padding: 15px;">
							<div class="hot_deal_box">
								<img class="img-fluid" src="/users/img/product/hot_deals/deal1.jpg" alt="">
								<div class="content">
									<h2>{{nombre}}</h2>
									<p>Ver Catalogo</p>
								</div>
								<a class="hot_deal_link" href="https://www.google.com" target="_blank"></a>
							</div>
						</div>
					{{/each}}
				{{else}}
					<p>NO TIENE EMPRESAS ASOCIADAS</p>
				{{/if}}
			</div>
		</div>
	</section>
	<!--================End Hot Deals Area =================-->

	<!--================Clients Logo Area =================-->
	<section class="clients_logo_area">
		<div class="container-fluid">
			<div class="clients_slider owl-carousel">
				<div class="item">
					<img src="/users/img/clients-logo/c-logo-1.png" alt="">
				</div>
				<div class="item">
					<img src="/users/img/clients-logo/c-logo-2.png" alt="">
				</div>
				<div class="item">
					<img src="/users/img/clients-logo/c-logo-3.png" alt="">
				</div>
				<div class="item">
					<img src="/users/img/clients-logo/c-logo-4.png" alt="">
				</div>
				<div class="item">
					<img src="/users/img/clients-logo/c-logo-5.png" alt="">
				</div>
			</div>
		</div>
	</section>
	<!--================End Clients Logo Area =================-->