<html>
<head>
<title>Concursos Acumulativos</title>
</head>
<body><h1><center>Creacion de Concursos Acumulativos</center></h1>
<font size=”3″ face=”Comic Sans MS, Arial, MS Sans Serif”>Seleccione el tipo de concurso que desea crear</font>
<h2><u>Concurso</u></h2>
<font size=”3″ face=”Comic Sans MS, Arial, MS Sans Serif”>
Concurso 1</font>
<br/>
<font size=”3″ face=”Comic Sans MS, Arial, MS Sans Serif”>
Concurso 2</font>
<br/>
<font size=”3″ face=”Comic Sans MS, Arial, MS Sans Serif”>
Concurso 3</font>
<br/>
</body>
</html>